.bui-radiobutton-body,
.bui-radiobutton-disabledlabel,
.bui-radiobutton-preclass {
  color: #55565a;
}

.bui-radiobutton-codebox,
.bui-radiobutton-Description {
  display: flex;
  flex-wrap: wrap;
}

.bui-radiobutton-formclass,
.bui-radiobutton-code {
  padding-left: 20px;
  min-height: 400px;
  overflow: auto;
  min-width: 40%;
}
.bui-radiobutton {
  margin-right: 30px;
  float: left;
  height: auto;
  width: auto;
  background-color: #fafafb;
  padding: 12px 20px;
}

.bui-radiobutton-preclass {
  font-size: 0.9rem;
}
.bui-radiobutton-code {
  margin-right: 50px;
  min-height: 400px;
  min-width: 50%;
  padding-left: 20px;
  color: #00568f;
  font-weight: bold;
  border: none;
}
.bui-radiobutton-container {
  margin-left: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
}
.bui-radiobutton-Description {
  justify-content: space-evenly;
}
.bui-radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.bui-radiobutton-select,
.bui-radiobutton-selectdisabled {
  border: 1px solid #cac9c7;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.bui-radiobutton-selectdisabled {
  border: 1px solid #cac9c7;
}

.bui-radiobutton-container:hover input ~ .bui-radiobutton-select {
  border: 1px solid #0569a3;
}

.bui-radiobutton-container input:checked ~ .bui-radiobutton-select {
  border: 1px solid #00568f;
  background-color: white;
}

.bui-radiobutton-container input:checked ~ .bui-radiobutton-select:after {
  display: block;
  color: #00568f;
}

.bui-radiobutton-container .bui-radiobutton-select:after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00568f;
}
.bui-radiobutton-disabledlabel {
  opacity: 0.3;
}
.bui-radiobutton-disabled {
  border: 1px solid #cac9c7;
}
.bui-radiobutton-table {
  border-collapse: collapse;
  width: 100%;
}
.bui-radiobutton-th,
.bui-radiobutton-td {
  border-bottom: 2px solid #ddd;
  text-align: left;
  font-size: 0.875rem;
  padding: 14px;
}
.bui-radiobutton-code,
.bui-radiobutton-th {
  background-color: #f0f0f1;
  font-size: 1.1rem;
}

/* @media only screen and (max-width: 768px) {
   /* For mobile phones: 
   [class="bui-button-type-content"],
   [class="bui-radiobutton-codebox"]{
       width: 100%;
   }
   [class="abc"]{
       display: block !important;
       width: 100%;
   }
   [class="bui-btn-sample"]{
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       margin-bottom: 0.625rem;
       align-items: center;
   }
 } */
